*{
    margin: 0;
    padding: 0;
}
h1{   
clear: both;
float: both;
width: 100%;height:80px ; 
box-shadow: 10px 10px 10px rgb(49, 159, 184);
position: fixed;background-color: white;clear: both;float: both;
}
a{
    text-decoration: none;
    color: rgb(8, 8, 107);
   display: block;
}
ul li a:hover{
    border-radius: 20px;
    background:rgb(8, 8, 107);
    color: white
}
ul li{
    display: inline-block;
    margin-right: 30px;
    font-family: "Brush Script MT", cursive;
    font-size: 25px;
}
ul li a{
    padding:6px 15px;
   
}
ul{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
}

h1{ 
    display: flex;
    justify-content: space-between;
   align-items: center;
}
   
h2{
    color: white;position: absolute;top: 30%;
   font-size: 70px;width: 50%;
   font-family: 'Courier New', Courier, monospace;
}